@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');
@import "@mdxeditor/editor/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply backdrop-blur-[20px] border border-white/5;
  }
}

body {
  @apply bg-background-light dark:bg-background-dark text-gray-800 dark:text-gray-300 min-h-screen transition-colors duration-300 antialiased font-sans;
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 dark:bg-gray-600;
}
